//--- COLORS ---//

// to test the contrast ratio: http://dasplankton.de/ContrastA

$colors: (
	white: #FFFFFF,
	black: #212121,
	brand: #C20F2F,
	brand-lighter: #F7F5F5,
	brand-kit: rgba(75, 75, 75, 1),
	brand-kit-lighter: rgba(75, 75, 75, 0.1),
	brand-kit-header: rgba(75, 75, 75, 0.7),
	gray: #aaaaaa,
	accent-dark: #AE112D,
	accent-darker: #9F152E,
	comunicazione: rgba(180, 29, 108, 1),
	orientamento: rgba(254, 181, 0, 1),
	opere: rgba(1, 98, 203, 1)
	);

// function to get the colors
@function color($key) {
		@return map-get($colors, $key);
}