//--- PERCORSI ---//

#kit {
	#percorsi-container {
		@include outer-container();
		@include pads(0 2 7 2);

		section {
			@include span-columns(12);
			margin-top: 5rem;

			.percorsi-media-container {
				@include media($desktop) {
					@include span-columns(6 of 12);
				}
				@include media($large) {
					@include span-columns(6 of 12);
				}
				@include media($medium) {
					@include span-columns(8 of 8);
					margin-bottom: 3rem;
				}
				@include media($small) {
					@include span-columns(4 of 4);
					margin-bottom: 3rem;
				}
				@include media($x-small) {
					@include span-columns(4 of 4);
					margin-bottom: 2rem;
				}

				.video {
					position: relative;
					padding-bottom: 56.2757202%;
					height: 0;
					overflow: hidden;
					max-width: 100%;
					background-color: color(white);
				}

				.video iframe, .video object, .video embed {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border: 0;
					background-color: color(white);
				}

				img {
					max-width: 100%;
				}
			}

			.percorsi-content-container {
				@include media($desktop) {
					@include span-columns(6 of 12);
				}
				@include media($large) {
					@include span-columns(6 of 12);
				}
				@include media($medium) {
					@include span-columns(8 of 8);
					margin-bottom: 3rem;
				}
				@include media($small) {
					@include span-columns(4 of 4);
					margin-bottom: 3rem;
				}
				@include media($x-small) {
					@include span-columns(4 of 4);
					margin-bottom: 2rem;
				}

				header h2 {
					@extend %p-title-size;
					@extend %medium-weight;
					margin-bottom: 1rem;
				}
			}


		}
	}
}